@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  user-select: none;
}

nav {
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  background: rgba(0, 70, 35, 0.644);
  box-shadow: 0 0.5rem 1rem rgba(22, 22, 22, 0.432);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

.navigation i {
  font-size: 1.5rem;
}

nav ul li a {
  color: rgb(255, 103, 2);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
}

nav ul li a:hover {
  color: rgb(255, 149, 78);
  text-decoration: none;
}

nav ul li a:active {
  transition: ease-out;
  transition-delay: 0.8s;
}

nav h1 {
  color: rgb(240, 96, 0);
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  font-size: 80px;
  color: #e4e4e4;
  font-family: "Source Sans Pro", sans-serif;

  letter-spacing: 0.09em;
  display: flex;
  align-items: center;
  justify-content: center;
}

section p#description {
  font-size: 35px;
  color: rgb(0, 180, 90);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-one {
  background-image: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZ3JhbW1lcnxlbnwwfHwwfHw%3D&w=1000&q=80");
  margin: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.scroll {
  position: relative;
  bottom: -80px;
}

.scroll p {
  color: rgb(255, 103, 2);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 200px;
}

.scroll i {
  text-align: center;
  font-size: 25px;
  color: rgb(255, 103, 2);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-one-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
  position: static;
}

.section-two {
  margin: auto;
  padding-top: 20px;
  color: white;
  background: rgba(0, 70, 35, 0.959);
  max-width: 100%;
  height: 100vh;
  padding-left: 20px;
}

.section-two p {
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 30px;
  max-width: 60%;
}

.about {
  font-size: 40px;
  padding-top: 20px;
  word-spacing: 10px;
  text-align: center;
}

img {
  max-width: 30%;
  height: auto;
  display: block;
  border-radius: 50%;
  position: relative;
  top: -170px;
  float: right;
  margin-right: 90px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list ul {
  top: 70px;
  position: relative;
  right: 10%;
  margin-left: -60px;
  font-size: 20px;
}

ul.skills {
  display: inline-block;
  margin: 1 0rem;
}

.list h1 {
  font-size: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 30px;
}

.quote {
  max-width: 50%;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 30px;
  text-align: center;
  position: relative;
  bottom: -80px;
  margin-left: 40px;
}

.fa-angle-down {
  animation: bounce 0.6s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 50px, 0);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}

footer {
  background-color: rgb(0, 39, 20);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 420px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 490px;
  white-space: nowrap;
  margin-top: 50px;
  line-height: 70px;
}

button {
  text-decoration: none;
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  background-color: green;
  color: #fff;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.644);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

/* Adding transformation when the button is active */

button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

button i {
  font-size: 20px;
  padding-right: 10px;
}

.icons {
  cursor: pointer;
}

/* Adding transformation when the button is active */

.icons a:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}


.icons a {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.603);
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

.section1-text {
  position: relative;
  top: 100px;
}

@media screen and (min-width: 320px) {
  nav {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    /* padding: 3rem 5rem; */
    /* background: rgba(0, 70, 35, 0.644); */
    /* box-shadow: 0 0.5rem 1rem rgba(22, 22, 22, 0.432); */
  }
}

@media screen and (max-width: 768px) {

  .section-one-content {
    padding-top: 100px;
    width: 100%;
    text-align: center;
  }

  .section1-text h2 {
    font-size: 60px;
  }


  .scroll {
    bottom: 10px;
    font-size: 2rem;
    transition: 0.3s all;
  }

  nav {
    height: 60px;
    position: fixed;
    width: 42.5%;
    z-index: 1;
    background: rgba(0, 70, 35, 0.644);
    box-shadow: 0 0.5rem 1rem rgba(22, 22, 22, 0.432);
  }


  .navigation i {
    margin-left: -2px;
    font-size: 13px;
    /* margin-right: -1px; */
  }

  nav ul li a {
    color: rgb(255, 103, 2);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    /* margin: 0 1px; */
  }

  nav ul li a:hover {
    color: rgb(255, 149, 78);
    text-decoration: none;
  }

  nav h1 {
    color: rgb(240, 96, 0);
    font-size: 13px;
    font-weight: bold;
    margin-left: -70px;
  }


}